.Scaphio {
    font-style: italic;
    font-size: 8px;
    color: black;
}

.Phantis {
    font-style: oblique;
    font-size: 10px;
    color: black;
}

.Both {
    font-style: normal;
    font-size: 9px;
    color: black;
}

.Speech {
    font-style: initial;
    font-size: 8px;
    color: black;
}

.Duet {
    font-style: inherit;
    font-size: 5px;
    color: black;
}

.StageDirection {
    font-style: unset;
    background-color: lightpink;
    font-size: 25px;
}

.StageDirection:hover {
    background-color: lightblue;
}
table,
th,
td {
    border: 1px solid red;
    margin: 0 40px 10px 0;
    
}

th {
    text-align: center;
}

td {
    text-align: center;
}

td {
    padding: 25px;
}




table {
    width: 50px;
    height: 25px;
}

tr:nth-child(even) {
    background-color: blueviolet;
}
.Phantis {
    text-shadow: 10px 10px 2px black;

    border: 1px solid;
}

.Phantis:hover {
    background-color: darkorchid;
}
.Scaphio {
    text-shadow: 10px 10px 2px black;

    border: 1px solid;
}

.Scaphio:hover {
    background-color: darkorchid;
}